---
import '../styles.css';
import HomePage from '../components/HomePage';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Why choose Zephyr Cloud?</title>
  </head>
  <body>
    <HomePage client:load />
  </body>
</html>
